body {  
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0px;
}

.navbar {
    background-color:brown;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    border-bottom-style: solid;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 10;
    width: 100%;
}

.nav-list li {
    margin-right: 20px;

}

.nav-list a {
    text-decoration: none;
    color: #000000;
}

.Titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(122, 158, 49);
    padding: 50px;
    border-bottom-style: solid;
}
