body {
    background-color:rgb(122, 158, 49) ;
    color: rgb(165, 42, 42) ;
}


#form {
    color: rgb(165, 42, 42);
    background-color: rgb(0, 128, 0);
    text-align: center;
    margin-top: 200px;   
    justify-content: center;
    border-radius: 3px;
    width: 300px;
    height: 200px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}


#label1 {
    margin-top: 30px;
}


#label2 {
    margin-top: 30px;
}


#label3 {
    margin-top: 30px;
}


input {
    color: rgb(165, 42, 42);
}